<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
	xml:lang="en">
	<head>            
    <title>{{chain}}</title>
    <style>
    .builtin {
    color: red;
    }
    </style>
	</head>
	<body>
  <p>[ <a href="../{{table}}.svg">graph</a> ]</p>
    <pre class="iptables">
{% for rule in rules -%}
{% if rule.target is upper -%}
-A {{rule.chain}} {{rule.conditions}} -j <span class="builtin">{{ rule.target }}</span> {{ rule.extra }}
{% else -%}
-A {{rule.chain}} {{rule.conditions}} -j <a href="{{rule.target}}.html">{{ rule.target }}</a> {{ rule.extra }}
{% endif -%}
{% endfor %}
{% if policy %}
(default <span class="builtin">{{ policy }}</span>)
{% endif %}
    </pre>
	</body>
</html>

